<h2>Sajmovi</h2>
<form *ngIf="fair" #fairForm="ngForm" (ngSubmit)="onSubmit()">
   <h3>{{fair.name |uppercase }} {{ fair.location }}</h3>
   <div class='form-group'>
       <input class='form-control' required [(ngModel)]="fair.name" ngControl="name" />
   </div>
   <div class='form-group'>
       <input class='form-control' required [(ngModel)]="fair.location" ngControl="location" />
   </div>
   <div class='form-group'>
       <input type='text' rcDate class='form-control' [(ngModel)]="fair.fromDate" ngControl="fromDate" />
   </div>
   <button class='btn btn-primary' type='submit' [disabled]="!fairForm.form.valid">Potvrdi</button>
   <button class='btn btn-default'>Odustani</button>
</form>